@if (mostrar) {
<div class="container">
    <br>
<div class="row">
        <div class="col-2">
          <button type="button" class="btn btn-primary" (click)="mostrarBusqueda()">Hidden Search</button>
        </div>
</div>
<div class="row">
    Buscar: <input type="text" [(ngModel)]="nombre" (keyup.enter)="enviar()">
  </div>

</div>
}@else {
    <div class="row">
        <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="ocultarBusqueda()">Show Search</button>
        </div>
    </div>
}